@font-face {
    font-family: "Product Sans";
    src: url(../fonts/Product\ Sans\ Regular.ttf);
}

* {
    font-family: 'Product Sans';
}

body {
    width: 100%;
    height: 100%;
    background-color: black;
}

#digital-body {
    position: absolute;
    width: 360px;
    height: 360px;
    top: 0px;
    left: 0px;
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

#battery-rec {
    position: absolute;
    width: 10%;
    height: 3%;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
    border: solid 3px #111;
}

#battery-fill {
    position: absolute;
    width: 11%;
    height: 3%;
    top: 50%;
    left: 50%;
    transform: translate(-63%, -50%);
    z-index: 10;
    background-color: #333;
    z-index: -1;
}

/*
hour&minutes
*/

#rec-time {
    display: block;
    position: absolute;
    height: min-content;
    width: min-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#rec-time * {
    width: 100px;
    text-align: center;
}

#str-hours {
    font-size: 550%;
    float: left;
    color: white;
}

#str-minutes {
    font-size: 550%;
    float: left;
    color: white;
}

@media screen and (-tizen-geometric-shape: circle) {
#str-hours {
    font-size: 600%;
}

#str-minutes {
    font-size: 600%;
}
}